discord.py[voice]==1.7.3
sqlalchemy==1.4.23
asyncpg==0.24.0
numpy==1.21.3
more-itertools==8.8.0
emoji==1.4.2
alembic==1.7.1
psycopg2==2.9.1
feedparser==6.0.8
wheel==0.37.0
types-emoji==1.2.4
jishaku[voice]~=2.3
